# macOS
.DS_Store

# Editor
.vscode/

# Python
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/

# Virtual env
.venv/

# Build / runtime
*.egg
*.egg-info
*.txt.gz

# Outputs
output/
cache*
ckpt*
